<h1><%= @novel.title %></h1>
<div class="error_explanation">
<%= flash[:message] if flash[:message] %>
</div>
<h2>Members:</h2>

<ul>
<% @novel.memberships.each do |membership| %>
  <li><%= link_to "#{membership.user.username}", user_path(membership.user) %> -
  <%= novel_membership(@novel, membership.user) %></li>
  <ul>
  <li><%= link_to "Edit Membership", edit_novel_membership_path(@novel, membership) %></li>
  <li></li>
  </ul>
  <br>
<% end %>
</ul>

<%= link_to "Add New Member", new_novel_membership_path(@novel) %><br>
<%= link_to "Back to Novel", novel_path(@novel) %>
