<h1><%= @membership.novel.title %></h1>
<h2>Add a new member:</h2>

<% if !@users.empty? %>
<%= form_for(@membership, url: novel_memberships_path(@membership.novel)) do |f| %>
  <%= f.hidden_field :novel_id, value: @membership.novel.id %>
  <%= f.label :user_id %>
  <%= f.collection_select :user_id, @users, :id, :username, include_blank: true %>
  <%= f.label :role %>
  <%= f.select :role, options_for_select(["Member", "Admin"], "Member") %>

  <%= f.submit %>
<% end %>
<% else %>
<div class="error_explanation">
No more members to add
</div>
<br><br>
<% end %>

<%= link_to "Back to Novel", novel_path(@membership.novel) %>
