<% if snippet.errors.any? %>
  <div class="error_explanation">
    <ul>
    <% snippet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(snippet, url: the_path) do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label :summary %></p>
  <p><%= f.text_area :summary %></p>
  <p><%= f.label :content %></p>
  <p><%= f.rich_text_area :content %></p>
  <p><%= f.label :tag %></p>
  <p><%= f.select(:tag, ["chapter", "scene", "development", "uncategorized"]) %></p>
  <%= f.submit %>
<% end %>
