<% if snippet.errors.any? %>
  <div class="error_explanation">
    <ul>
    <% snippet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(snippet, url: the_path) do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :summary %><br>
  <%= f.text_area :summary %><br>
  <%= f.label :content %><br>
  <%= f.text_area :content %><br>
  <%= f.label :tag %><br>
  <%= f.select(:tag, ["chapter", "scene", "development", "uncategorized"]) %>
  <%= f.submit %>
<% end %>
