<h1><%= @novel.title %></h1>
<div class="error_explanation">
<%= flash[:message] if flash[:message] %>
</div>

<ul>
<% @novel.snippets.each do |snippet| %>
  <li><%= link_to "#{snippet.title}", novel_snippet_path(@novel, snippet) %>
    <ul>
      <li>Tag: <%= snippet.tag %></li>
      <li>Summary: <%= snippet.summary %></li>
    </ul>
  </li>
<% end %>
</ul>
<br><br>

<%= form_tag("/sorted") do %>
<%= label_tag "tag", "Only show type: "%>
<%= select_tag "tag", options_for_select(snippet_tags(@novel)), include_blank: true %>
<%= submit_tag "Sort" %>
<% end %>

<%= link_to "New snippet", new_novel_snippet_path(@novel) %><br>
<%= link_to "Back to Novel", novel_path(@novel) %>
