<h1><%= @novel.title %></h1>
<ul>
<% @novel.snippets.each do |snippet| %>
  <li><%= link_to "#{snippet.title}", novel_snippet_path(@novel, snippet) %>
    <ul>
      <li>Tag: <%= snippet.tag %></li>
      <li>Summary: <%= snippet.summary %></li>
    </ul>
  </li>
<% end %>
</ul>
<br><br>
<%= link_to "New snippet", new_novel_snippet_path(@novel) %><br>
<%= link_to "Back to Novel", novel_path(@novel) %>
