<h1><%= @snippet.novel.title %></h1>
<h2><%= @snippet.title %></h2>
<h3>Summary:</h3>
<p><%= @snippet.summary %></p>
<h3>Content:</h3>
<p><%= @snippet.content %></p>
<br><br>
<%= link_to "Edit Snippet", edit_novel_snippet_path(@snippet.novel, @snippet) %>
<br><br>
<%= button_to "Delete Snippet", novel_snippet_path(@snippet.novel, @snippet), method: :delete, data: { confirm: "Are you sure?" } %>
<br><br>
<%= link_to "Back to list", novel_snippets_path(@snippet.novel) %>

