<h1>Add or edit your bio:</h1>

<%= form_for(@user) do |f| %>
  <%= f.label :bio %><br>
  <%= f.text_area :bio %>
  <br>
  <%= f.submit %>

<% end %>
<br>
<%= link_to "Back to your profile", user_path(current_user) %>
