<h1>Create a new novel</h1>

<% if !!flash[:errors] %>
  <div class="error_explanation">
  <% flash[:errors].each do |err| %>
    <p><%= err %></p>
  <% end %>
  </div>
<% end %>

<%= form_for(@novel, url: user_novels_path(current_user)) do |f| %>
  <%= f.fields_for :membership do |mem| %>
    <%= mem.hidden_field :user_id, :value => current_user.id %>
    <%= mem.hidden_field :role, :value => "Admin" %>
  <% end %>

  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <br>
  <%= f.label :summary %><br>
  <%= f.text_area :summary %><br>
  <br>
  <%= f.submit %>

<% end %>
<br><br>
<%= link_to "Back to Your Novels", user_novels_path(current_user) %>
