<h1><%= @novel.title %></h1>

<div class="error_explanation">
<%= flash[:message] if flash[:message] %>
</div>

<h2>Summary: </h2>
<p><%= @novel.summary %></p>

<h2><%= link_to "Snippets", novel_snippets_path(@novel) %></h2>

<h2>Members:</h2>

<% @novel.users.each do |user| %>
  <%= link_to "#{user.username}", user_path(user) %> - <%= novel_membership(@novel, user) %><br>
<% end %>
<%= link_to "View Memberships", novel_memberships_path(@novel) %>
<br><br>

<% if admin_of?(@novel) %>
<%= link_to "Edit Novel", edit_novel_path(@novel) %><br>
<%= button_to "Delete Novel", novel_path(@novel), method: :delete, data: { confirm: "Really? This will delete all snippets as well." } %>
<% end %>
<%= link_to "Back to your novels", user_novels_path(current_user) %>
